# Ignore the Frames folder
Frames/

# Ignore temporary Blender files
*.blend1
*.blend2
*.blend~

# Ignore cache or autosave files
__pycache__/
*.autosave
*.bak
*.tmp

# Ignore other backup and system files
Thumbs.db
.DS_Store

# Ignore folders or files you don't want in your repo
*/temp/